body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.MainHome {   
    background-color: rgb(250, 249, 249);
} 

.image1 {
    object-fit: contain;
    height: 800px;
    width: 100%;
}

.MainHome-header {
    color: #29abe2;
    margin: 15px 0;
}
.MainHome-rating{
    margin: 4rem;
}
.rating-content p {
    font-weight: 600;
}
.rating-content h3 {
    font-weight: 700;
    font-size: 2.5;
    letter-spacing: 2px;
}
.MainHome-btn {
    background-color: #29abe2;
    color: #ffffff;
    border-radius: 4px;
    border-color: #29abe2;
    padding: 10px 12px;
    font-size: 20px;
    margin: 10px;
}

.bg-blue{
    background-color: #29abe2 !important;
    color: #ffffff !important;
}











