html,
body,
header,
.carousel {
  height: 60vh;
}
.navlink, Link {
  color: white;
}
.navlink:hover, Link:hover {
  border-bottom: 4px solid grey;
  text-decoration: none!important;
  color: rgb(224, 218, 218)
}
.nav-button {
  margin-right: 4px!important;
  border-color: white!important;
  color: black!important;
  text-decoration: none!important;
}
.nav-button:hover, .navbtn:hover {
  border-bottom: none!important;
  text-decoration: none!important;
}


@media (max-width: 740px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
            background: #1C2331!important;
        }
    }
.view,body,html{height:100%}@media (max-width:740px){.full-page-intro{height:1000px}}.carousel{height:50%}.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item{height:100%}@media (max-width:776px){.carousel{height:100%}}.navbar{background-color:rgba(0,0,0,.3)}.page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}
















/* .nav-link:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
}
.navbar-log {
    background-color: #29abe2;
    color: #ffffff!important;
    margin: 2px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer!important;
}
.nav-log {
    cursor: pointer!important;
    
} */

